// ---------------------------
// Global variables
// ---------------------------

// Colors
// ---------------------------

// Gray
$black: 		#000;
$darkGray: 		#65615d;
$white: 		#fff;

// Blue
$blue:          #1da7c0;

// Red
$yellow: 		#fcc150;
$orange:        #fc8950;
$pink:          #fc5095;

// Green

// Brand colors
$primeOne: $pink;
$primeTwo: $orange;
$primeThree: $yellow;
$primeFour: $blue;